.button {
  &__categories {
    font-weight: 700;
    color: #fff;

    box-sizing: border-box;
    height: 56px;
    border-radius: 8px;

    background-color: #f98921;

    transition: background-color 0.3s ease;

    @include page-grid;

    &:hover {
    background-color: #1b2129;
    }

    &:active {
      background-color: #010810;
    }
  }

  &--indents {
    grid-column: span 2;
    margin-top: 40px;
    margin-bottom: 96px;

    @include on-tablet {
      grid-column: span 6;
      margin-top: 56px;
      margin-bottom: 120px;
    }

    @include on-desktop {
      grid-column: span 3;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
