.categories {
  &__content {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }
  }

}

.category {
  &__photo {
    @include pageGrid();
  }

  &__link {
    width: 100%;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__producte {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    @include onTablet {
      aspect-ratio: auto;
    }

    @include onDesktop {
      aspect-ratio: auto;
    }
  }

  &__title {
    margin: 0;
    margin-top: 16px;
  }
}

