.contact-us {
  &__content {
    @include page-grid;
  }

  &__form {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__inf {
    margin-bottom: 64px;

    @include on-tablet {
      grid-column: span 4;
      margin-bottom: 120px;
    }

    @include on-desktop {
      grid-column: -6 /-1;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    min-height: 48px;
    margin-bottom: 16px;
    padding: 0;
    padding-left: 16px;
    border: 1px solid transparent;
    border-radius: 8px;

    background-color: #F9F9F9;

    &::placeholder {
      color: #7E7E83;
    }

    @include guidance;

  }

  &__textarea {
    gap: 10px;

    box-sizing: border-box;
    width: 100%;
    height: 148px;
    margin-bottom: 32px;
    padding: 14px 16px;
    border: 0;
    border-radius: 8px;

    background-color: #F9F9F9;

    &::placeholder {
      margin-top: 14px;
      margin-left: 16px;
      color: #7E7E83;
    }

    @include guidance;

  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 56px;
    margin-bottom: 48px;
    border-radius: 8px;

    color: #FFF;
    text-decoration: none;

    background-color: #1B2129;

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      margin-bottom: 120px;
    }

  }

  &__inf-title {
    margin: 0;
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: 400;
    color: #9393A3;
  }

  &__inf-content {
    margin: 0;
    margin-bottom: 24px;

    font-size: 16px;
    font-weight: 400;
    color: #191919;
  }
}

a {
  text-decoration: none;
}
