.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-position: center;
  background-size: cover;

  &--phone {
    background-image: url('./public/icon/Icon-Phone-call.svg');
  }

  &--menu {
    background-image: url('./public/icon/Icon-Burger-menu.svg');

    @include hover(background-image, url('./public/icon/Icon-Burger-menu-hover.svg'));
  }

  &--close {
    background-image: url('./public/icon/Icon-Close.svg');
  }

  @media (min-width: $tablet-min-width) {
    width: 32px;
    height: 32px;
  }

  @include hover(transform, scale(1.2));
}
