.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-position: center;
  background-size: cover;

  &--phone {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('./public/icon/Icon-Phone-call.svg');

    &::before {
      content: '+1 234 5555-55-55';
      position: absolute;
      transform: translateX(-150px);
      display: block;
      color: $main-text-color;
      width: max-content;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }

    &:hover::before {
        opacity: 1;
      }

  }


  &--menu {
    background-image: url('./public/icon/Icon-Burger-menu.svg');

    @include hover(background-image, url('./public/icon/Icon-Burger-menu-hover.svg'));
  }

  &--close {
    background-image: url('./public/icon/Icon-Close.svg');
  }

  @media (min-width: $tablet-min-width) {
    width: 32px;
    height: 32px;
  }

  @include hover(transform, scale(1.2));
}
